/* !Dont modified */
.container #display-window {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  height: 15%;
  margin: auto;
  border: 2px solid rgba(151, 177, 125, 0.621);
  border-radius: 15px;
  align-items: center;
  justify-content: space-around;
  background-image: linear-gradient(rgba(62, 194, 154, 0.544), rgba(160, 227, 160, 0.659), rgba(70, 55, 55, 0.632));

  /* display: none; */
}

.container #display-window > * {
  display: flex;
  flex-direction: column;
  /* height: 20%; */
  text-align: center;
  /* border: 1px solid black; */
}

.container #display-window > * > .big {
  font-size: 4.5rem;
}
.container #display-window > * > .small {
  font-size: 3rem;
  color: rgb(187, 187, 187);
}

button {
  font-family: "game";
  font-size: 2rem;
  cursor: pointer;
  background-color: gold;
  border-radius: 5px;
  padding: 0.3rem;
}

.audioMute {
  background: url("../images/muteIcon.png");
  width: 20px;
  height: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  align-self: flex-start;
  /* background-position: -2.4rem; */
  /* background-position: -2.4rem; */
}
