.container #deck-container {
  display: grid;
  margin: auto;
  width: 75%;
  height: 70%;
  gap: 1rem;
  /* border: solid 1px black; */
}

.proggramer-lvl {
  /* 6 */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.easy-lvl {
  /* 12 */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.normal-lvl {
  /* 16 */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.hard-lvl {
  /* 20 */
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
.master-lvl {
  /* 24 */
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

.flip-card-container-one-card {
  perspective: 1000px;
}

.container-card {
  /* border: 1px solid black; */
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  transform-style: preserve-3d;
  border: solid 2px rgba(174, 134, 134, 0.2);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 0.6s;
}

.container-card:hover {
  border: solid 4px rgba(174, 134, 134, 0.2);
}

.front-card,
.back-card {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.front-card {
  background-image: url("../images/1.png");
  transition: all 0.5s;
  /* border-radius: 3px; */
  /* border: 1px solid black; */
}

.front-card:hover {
  cursor: pointer;
  transform: scale(0.9);
}

.back-card {
  transform: rotateY(180deg);
}

[idCard="paired"]:active {
  border: 8px solid transparent;
}
