.popUp {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  width: 65vw;
  /* height: 55%; */
  margin: auto 17.5vw;
  position: absolute;
  top: 15%;
  border: solid 2px rgba(57, 53, 53, 0.637);
  border-radius: 10px;
  background-image: linear-gradient(rgb(62, 194, 154), rgb(88, 184, 88), rgb(110, 52, 52));
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  font-size: 2.5rem;
  font-weight: bold;
}

.popUp > * {
  margin: 1rem;
}

.popUp > * > * {
  margin: 1rem;
  text-align: center;
}
.popUp h1 {
  text-align: center;
}

.popUp form {
  font-family: "game";
  display: flex;
  border: 1px solid rgba(48, 46, 46, 0.858);
  border-radius: 5px;
  align-items: flex-start;
  flex-direction: column;
  /* margin: auto; */
}

.popUp input {
  font-family: "game";
  font-size: 2rem;
  width: 15rem;
}

.popUp select {
  font-family: "game";
  height: 2rem;
}

.popUp button {
  width: 15rem;
  margin: 0 auto;
  font-family: "game";
  font-size: 2.5rem;
  cursor: pointer;
  position: relative;
}

.verifyUserName:hover::before {
  content: "Please enter username";
  padding: 0 3px;
  background-color: bisque;
  position: absolute;
  border: rgb(88, 184, 88) solid 2px;
  top: -2rem;
  left: -50%;
  width: 25rem;
  color: black;
  font-size: 1.5rem;
  border-radius: 3px;
}
.verifyUserName:hover::after {
  content: "";
  position: absolute;
  top: -8%;
  left: 46%;
  /* bottom: 0rem; */
  border: 5px solid;
  border-color: bisque transparent transparent transparent;
}
